.checkout {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 200px;
	margin: auto auto;
	z-index: 3;
	background-color: white;
	box-shadow: 0 5px 20px 0 rgba(5, 5, 5, 0.2);
	border-radius: 5px;
}

.checkout-message {
	display: block;
	width: 100%;
	height: 80%;
	padding: 10px;
	text-align: center;
}

.checkout-button {
	width: 100%;
	height: 20%;
	background-color: white;
	color: rgba(0, 0, 0, 0.829);
	font-weight: bold;
	border: 0;
	cursor: pointer;
	border-top: solid 0.5px rgba(5, 5, 5, 0.2);
	border-radius: 5px;
}

.checkout-button:hover {
	background-color: rgba(241, 239, 239, 0.877);
}
