.item-container {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	cursor: pointer;
	height: 40px;
	align-items: center;
}
.item-container:hover {
	background-color: #fcf9f3;
}

.item-name {
	text-transform: capitalize;
}
.item-container section {
	width: 50%;
}

.item-price-container {
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	color: rgba(5, 5, 5, 0.756);
	align-items: center;
}

.item-price {
	margin-right: 10px;
}
.item-quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 0.5px rgba(5, 5, 5, 0.456);
	width: 40px;
	padding: 2px 0;
	transform: translateX(10px);
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 1px 5px 0 rgba(5, 5, 5, 0.256);
}
