.option-header {
	text-align: center;
	text-decoration: underline;
	margin: 10px;
	font-weight: bold;
}

.option-list-container {
	padding: 0;
	list-style: none;
}

.option-list {
	position: relative;
	padding: 5px;
}
.option-star {
	position: absolute;
	left: 20px;
	bottom: 17px;
	color: rgba(216, 208, 208, 0.952);
}
